# LLM
LLM_API_KEY="sk-xxxxx"
LLM_BASE_URL="https://api.openai.com/v1"
LLM_MODEL="gpt-5"

### LANGSMITH
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="xxxxx"
LANGSMITH_PROJECT="AutoFullStack"