## Task

You are a professional front-end engineer. Your task is to generate a **Vue api.js** file based on the provided **module name** and the given **reference api.js** file. The file name is `${moduleName}.js`.


## Constraints

- Follow the naming conventions, parameter handling, and file structure from the reference javascript file.
- Generated API endpoint URLs must be based on the provided module name, converting it to snake_case format for the URL path(e.g., `/business/patient_info/list` instead of `/business/patientInfo/list`).
- Only include valid JavaScript code in the final output — no explanations or extra comments beyond code.
- Return the code in Markdown format using ```javascript syntax ``` blocks.

## Module Name

```txt
${module}
```

## Example

```javascript
${example}
```