# Data source configuration
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        druid:
            # Primary data source
            master:
                url: jdbc:mysql://localhost:3306/${database}?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
                username: root
                password: root
            # Replica data source
            slave:
                # Replica data source switch, disabled by default
                enabled: false
                url:
                username:
                password:
            # Initial number of connections
            initialSize: 5
            # Minimum number of idle connections
            minIdle: 10
            # Maximum number of active connections
            maxActive: 20
            # Maximum wait time for obtaining a connection
            maxWait: 60000
            # Connection timeout
            connectTimeout: 30000
            # Socket timeout
            socketTimeout: 60000
            # Interval between idle connection eviction checks, in milliseconds
            timeBetweenEvictionRunsMillis: 60000
            # Minimum time a connection may remain idle in the pool, in milliseconds
            minEvictableIdleTimeMillis: 300000
            # Maximum time a connection may remain idle in the pool, in milliseconds
            maxEvictableIdleTimeMillis: 900000
            # Query used to validate connections
            validationQuery: SELECT 1 FROM DUAL
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            webStatFilter:
                enabled: true
            statViewServlet:
                enabled: true
                # Access allowlist; leave empty to allow all clients
                allow:
                url-pattern: /druid/*
                # Management console username and password
                login-username: root
                login-password: root
            filter:
                stat:
                    enabled: true
                    # Log slow SQL statements
                    log-slow-sql: true
                    slow-sql-millis: 1000
                    merge-sql: true
                wall:
                    config:
                        multi-statement-allow: true
