module.exports = {

  /**
   * Title
   */
  title: process.env.VUE_APP_TITLE,

  /**
   * Theme color
   */
  theme: '${theme}',

  /**
   * Sidebar theme, dark theme-dark, light theme- Light
   */
  sideTheme: '${sideTheme}',

  /**
   * System layout configuration
   */
  showSettings: true,

  /**
   * Top navigation bar
   */
  topNav: ${topNav},

  /**
   * Tags
   */
  tagsView: true,

  /**
   * Tags Icon
   */
  tagsIcon: true,

  /**
   * Fixed Header
   */
  fixedHeader: false,

  /**
   * Sidebar Logo
   */
  sidebarLogo: true,

  /**
   * Dynamic title
   */
  dynamicTitle: false,

  /**
   * Footer visibility
   */
  footerVisible: false,

  /**
   * Footer content
   */
  footerContent: 'Copyright © 2018-2025 Rex. All Rights Reserved.'
}
